package im.shimo.bison.internal;

/**
 * Constants for the names of BisonView Features.
 */
public final class BvFeatures {{

{NATIVE_FEATURES}

    // Do not instantiate this class.
    private BvFeatures() {{}}
}}
